/* Texto */
.swal-small-title {
  font-size: 14px !important;
}

.swal-small-text {
  font-size: 14px !important;
}
/* 
.swal-small-icon {
  width: 48px !important;
  height: 48px !important;
}

.swal-small-icon .swal2-icon-content {
  font-size: 22px !important;
}

.swal-small-button {
  font-size: 14px !important;
  padding: 6px 14px !important;
} */

.swal2-container {
  z-index: 99999 !important;
}

/* Garantir backdrop acima de modais */
.swal2-backdrop-show {
  z-index: 99998 !important;
}